//
//  SimAna.xcconfig
//  SimAna
//
#include "../master.xcconfig"

PRODUCT_NAME=SimAna

EXECUTABLE_PREFIX=lib
EXECUTABLE_EXTENSION = dylib

DYLIB_COMPATIBILITY_VERSION=0
DYLIB_CURRENT_VERSION=0

// == Activate LCIO
HEADER_SEARCH_PATHS=$(inherited) ${LCIOHEADERS}
LIBRARY_SEARCH_PATHS=$(inherited) ${LCIOLIBDIR}

OTHER_LDFLAGS=$(inherited) ${LCIOLIBS}

//For Dictionary generation. This is clumsy to pass info to dict generation step
ROOT_DICT_NAME_BASE=HpsEvent
ROOT_DICT_HDRS_DIR=${LOCROOT}/../../include/hps_event
ROOT_DICT_HDRS=CalorimeterHit.h Cluster.h EcalCluster.h EcalHit.h GblStripData.h GblTrack.h GblTrackData.h HpsEvent.h HpsMCParticle.h HpsParticle.h  MCParticle.h SvtHit.h SvtTrack.h

// To find the other libraries
LD_RUNPATH_SEARCH_PATHS=${LCIOLIBDIR}
