//
//  SimAna_Debug.xcconfig
//  SimAna
//
//  Created by Maurik Holtrop on 5/20/16.
//  Copyright © 2016 Maurik. All rights reserved.
//

#include "SimAna.xcconfig"

GCC_OPTIMIZATION_LEVEL = 0
COPY_PHASE_STRIP = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
STRIP_INSTALLED_PRODUCT = NO

// DEBUG VERSION OF ROOT ===============================
// ======= ROOT 6 ==============
ROOTSYS=/Users/maurik/root/root.git.debug
ROOTLIBS=-L${ROOTSYS}/lib -lCore -lRIO -lNet -lHist -lGraf -lGraf3d -lGpad -lTree -lRint -lPostscript -lMatrix -lPhysics -lMathCore -lThread -lMultiProc -lProof -lpthread -stdlib=libc++ -lm -ldl
CLANG_CXX_LANGUAGE_STANDARD = c++11

