//
//  TemplateClassX.xcconfig
//  TemplateClassX
//
//  Created by Maurik Holtrop on 5/20/16.
//  Copyright © 2016 Maurik. All rights reserved.
//
#include "../master.xcconfig"
PRODUCT_NAME=TemplateClassX
EXECUTABLE_PREFIX=lib
EXECUTABLE_EXTENSION = dylib

DYLIB_COMPATIBILITY_VERSION=0
DYLIB_CURRENT_VERSION=0

HEADER_SEARCH_PATHS = $(inherited) ${BASEANA}/BaseAna ${HPSDST}/include/hps_event
